<div class="row">
<div class="col-md-6 list-quote" >
    <h3> Popular Quotes</h3>
    <h4> Below are the top quotes this week</h4>

    <hr>
  
  <div class="card"*ngFor='let quote of quotes;let i = index'> 
    <div class="card-header">
      {{quote.id}} 
    </div>
    <div class="card-body">
      <p class="card-text">{{quote.quote}}</p>
      <p class="card-text">{{quote.author}}</p>
      <a href="#" class="btn btn-primary"  (click)='toggleDetails(i)'>Toggle Details</a>
    </div>
    
  <div class="card-footer">
   
    <app-quote-detail *ngIf='quote.showDescription' [quote]="quote"></app-quote-detail>
  </div>
  </div>
  

</div>

<div class="col-md-6 form-quote">
  <app-quote-form (addQuote)="addNewQuote($event)">
    
  </app-quote-form>
   
 </div>
</div>